html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    @include font-main;
    margin-top: -16px;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.section-inner{
    max-width: 1080px;
    margin: 0 auto;
}
.section-wrapper{
    max-width: 1360px;
    margin: 100px auto 0;
}
.button {
    a {
        display: inline-block;
        position: relative;
        color: #006DFE;
        font-size: 16px;
        text-transform: uppercase;
        transition: ease-in-out .2s ;
        &:hover {
            text-shadow: 0 0 40px rgba(#006DFE, .9);
        }
    }
    &::after {
        content: '';
        z-index: 10;
        position: absolute;
        background-image: url(../img/arrow.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 35px;
        height: 10px;
        margin-left: 10px;
        margin-top: 5px;
    }
}

ul {
    padding-inline-start: 0px;
}