@media (max-width: 576px) {
    .footer-content__menu {
        flex-direction: column;
        .nav {
            li {
                background: rgba($white, .3);
                text-align: center;
                & + li {
                    margin-top: 5px;
                }
                a {
                    padding: 10px;
                    display: inline-block;
                }
            }
        }
    }
    .section-prefecture__item {
        img {
            max-width: 400px;
        }
    }
}

@media (max-width: 620px) {
    .trip-content {
        grid-template-columns: 1fr;
        .grid {
            max-height: 250px;
            &-1{
                grid-column: 1/2;
            }
            &-2{
                grid-column: 1/2;
            }
            &-3 {
                grid-column: 1/2;
            } 
            &-4 {
                grid-column: 1/2;
            } 
            &-5 {
                grid-column: 1/2;
            }
        }
    }
    .today-grid {
        grid-template-columns: 1fr;
        .grid {
            &-1{
                grid-column: 1/2;
            }
            &-2{
                grid-column: 1/2;
            }
            &-3 {
                grid-column: 1/2;
            } 
            &-4 {
                grid-column: 1/2;
            } 
            &-5 {
                grid-column: 1/2;
            }
            &-6 {
                grid-column: 1/2;
            }
        }
    }
    .section-prefecture__item {
        margin-left: 20px;
        margin-right: 20px;
    }
    .section-learn__wrapper {
        flex-flow: column nowrap;
        align-items: center;
    }
    .section-learn__item {
        margin-top: 0px;
        max-width: 300px;
        text-align: center;
        & + .section-learn__item {
            margin-left: 0px;
        }
    }
    .section-header-end__item {
        text-align: center;
    }
}

@media (min-width: 646px) {
    .header-nav {
        li {
            margin-left: 30px;
        }
    }
    .section-header-content {
        margin-top: 170px;
    }

}

@media (max-width: 645px) {
    .menu {
        flex-direction: column;
        align-items: center;
        .section-header-logo {
            margin-bottom: 20px;
            a {
                img {
                    transform: scale(1.5);
                }
            }
        }
    }
    .header-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        li {
            background: rgba($white, .3);
            & + li {
                margin-top: 5px;
            }
            a {
                padding: 10px;
                display: inline-block;
                min-width: 250px;
                text-align: center;
            }
        }
    }
    .trip-head {
        flex-direction: column;
        &__title {
            margin-bottom: 40px;
        }
    }
}

@media (min-width: 849px) {
    .section-header-content {
        align-items: flex-start;
        &__subtitle {
            max-width: 550px;
        }
    }
    .header-nav {
        li {
            &+li {
                margin-left: 60px;
            }
        }
    }
    .trip-content {
        grid-template-columns: repeat(6, 1fr);
        .grid {
            &-1{
                min-height: 360px;
                grid-column: 1/4;
            }
            &-2{
                min-height: 360px;
                grid-column: 4/7;
            }
            &-3 {
                grid-column: 1/3;
            } 
            &-4 {
                grid-column: 3/5;
            } 
            &-5 {
                grid-column: 5/7;
            }
        }
    }
}

@media (max-width: 850px) {
    .section-header-content {
        &__title {
            max-width: 450px;
        }
        &__subtitle {
            max-width: 450px;
        }
        form {
            margin: 0 auto;
            .section-header-content__form {
                flex-direction: column;
                justify-content: center;
                &-input {
                    margin-bottom: 20px;
                }
            }
        }

    }
    .footer {
        &-content {
            flex-flow: column wrap;
            align-items: center;
            &__img {
                margin-bottom: 40px;
            }
        }
    }
}

@media (min-width: 920px) {
    .section-header-content__form-input {
        margin-right: 60px;
    }
}

@media (max-width: 992px) { 
    .section-wrapper {
        padding-right: 20px;
        padding-left: 20px;
    }
    .section-prefecture__content {
        flex-direction: column-reverse;
        align-items: center;
        //max-width: 550px;
        margin: 0 auto;
        & + .section-prefecture__content {
            flex-direction: column;
        }
    }
    .section-prefecture__item {
        .button {
            margin-bottom: 30px;
        }
    }
    
}

@media (min-width: 1050px) {
    .footer {
        &-content {
            justify-content: space-around;
            &__img {
                img {
                    transform: scale(3);
                    margin-top: 50px;
                }
            }
            &__menu {
                width: 35%;
                display: flex;
                justify-content: space-between;
                &-item {
                    min-width: 170px;
                }
            }
        }
    }
    .today-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(570px, auto);
        grid-auto-flow: column;
        grid-gap: 50px;
        .grid {
            &-1{
                grid-column: 1/2;                
            }
            &-2{
                grid-column: 2/3;               
            }
            &-3 {
                grid-column: 3/4;                
            } 
            &-4 {
                grid-column: 1/2;
            } 
            &-5 {
                grid-column: 2/3;              
            }
            &-6 {
                grid-column: 3/4;                
            }
        }
    }
}

@media (max-width: 1200px) { 
    .section-inner, .section-header-end, .section-wrapper {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media (min-width: 1290px) { 
    .section-prefecture__item {
        img {
            min-width: 640px;
        }
        & + .section-prefecture__item {
            margin-left: 80px;
        }
        &-title {
            margin-top: 20px;
        }
        &-subtitle {
            margin-top: 85px;
        }
        .button {
            margin-top: 120px;
        }
    }
    .drop {
        padding-left: 50px;
    }
}

@media (max-width: 1355px) { 
    .section-wrapper {
        padding-right: 20px;
        padding-left: 20px;
    }
}