html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    @include font-main;
}
a {
    text-decoration: none;
    color: $color_main;
}
li {
    list-style: none;
}
ul {
    padding-inline-start: 0px;
}
.section-inner{
    max-width: 1500px;
    margin: 0 auto;
}