html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    @include font-main;
    font-weight: 400;
    background-color: #171919;
    color: $white;
    text-transform: uppercase;
    min-width: 320px;
    overflow-x: hidden;
}
a {
    display: inline-block;
    text-decoration: none;
    color: $white;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    min-height: 720px;
    min-width: 1400px;
}

.headline-left {
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 7.33333px;
    opacity: 0.5;
    padding-left: 103px;
    position: relative;
    display: inline-block;
    &::before {
        content: "";
        position: absolute;
        width: 80px;
        height: 1px;
        background-color: #ffffff;
        left: 0;
        top: 50%;
    }
}
.headline-right{
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 7.33333px;
    opacity: 0.5;
    padding-right: 103px;
    position: relative;
    display: inline-block;
    &::before {
        content: "";
        position: absolute;
        width: 80px;
        height: 1px;
        background-color: $white;
        right: 0;
        top: 50%;
    }
}

.title {
    div {
        font-weight: 800;
        font-size: 200px;
        color: rgba($white, .02);
        position: relative;
        display: inline-block;
        transform: translateX(-50px);
    }
    h3 {
        position: absolute;
        top: 5px;
        right: -5px;
        margin: 0;
        color: $white;
        font-size: 80px;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 80px;
            height: 1px;
            background-color: $green;
        }
    }
    span {
        display: inline-block;
    }
}

.subtitle {
    display: inline-block;
    text-align: right;
    &__head {
        font-weight: 800;
        font-size: 40px;
        padding-right: 10px;
        span {
            font-weight: 100;
        }
    }
}
.description {
    display: inline-block;
    &__head {
        font-weight: 800;
        font-size: 40px;
        span {
            font-weight: 100;
        }
    }
}

.btn {
    font-weight: 800;
    font-size: 40px;
    line-height: 36px;
    
    span {
        padding: 27px 57px 27px 17px;
        background-color: $green;
        display: inline-block;
        margin-left: 19px;
        position: relative;
        &::before {
           content: '';
           position: absolute;
           width: 20px;
           height: 1px;
           background-color: $white;
           top: 50%;
           left: -10px;     
        }
        &::after {
           content: '';
           position: absolute;
           width: 25px;
           height: 21px;
           background-image: url('../images/arrow-right.svg');
           top: 50%;
           right: 17px;
           transform: translateY(-50%);
        }
    }
}

.surf,
.holder {
    padding: 160px 0 120px;
}
.holder {
    padding-bottom: 265px;
}
.star-list {
    li {
        display: inline-block;
        & + li{
            margin-left: -25px;
        }
        margin-left: -10px;
    }
}
//=== Number Input ===
.quantity {
    display: inline-block;
}
  
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]
{
    -moz-appearance: textfield;
}

.quantity input {
    margin-right: 5px;
    width: 45px;
    height: 42px;
    line-height: 1.65;
    display: block;
    border: none;
    background-color: transparent;
    font-weight: 800;
    font-size: 40px;
    line-height: 36px;
    text-align: right;
    color: $white;
}

.quantity input:focus {
    outline: 0; 
}

.quantity-nav {
    float: left;
    position: static;
    height: 42px;
}

.quantity-button {
    position: relative;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50px;
}

.quantity-button.quantity-up {
    position: absolute;
    right: 0;
}

.quantity-button.quantity-down {
    position: absolute;
    right: 25px;
}
//=== / Number Input ===