@media (max-width: 1600px), (max-height: 930px){
    .logo {
        img {
            width: 100px;
        }
    }
    .menu {
        margin-top: 20px;
    }
    .header__title {
        font-size: 130px;
        line-height: 108px;
        top: 20px;
        left: 60px;
    }
    .menu__list a {
        margin-bottom: 25px;
    }
    .header__search {
        padding-top: 0px;
        padding-bottom: 12px;
    }
    .header__date {
        font-size: 60px;
        span {
            font-size: 14px;
            margin-bottom: 12px;
        }
    }
}
@media (max-width: 1366px) {
    .header__aside {
        position: absolute;
        border-right: none;
        text-align: left;
        height: 108px;
        padding-right: 25px;
        background-color: rgba($white, .1);
        display: flex;
    }
    .menu {
        padding-top: 0;
        margin-top: 0;
    }
    .menu__list {
        text-align: center;
        li {
            display: inline-block;
        }
        a{
            padding: 15px;
        }
    }
    .header__search {
        padding: 33px 25px 15px 5px;
    }
    .header__date {
        padding-top: 13px;
        font-size: 55px;
        line-height: 57px;
        span {
            font-size: 12px;
            padding-top: 0;
        }
    }
    .header__location {
        margin-top: 42px;
        margin-left: 15px;
    }
    .header__arrows {
        left: 20px;
        bottom: 20px;
    }
}
@media (max-width: 1340px) {
    .header__map{
        svg {
            width: 500px;
            height: 250px;
        }
    }
    .slider-arrows {
        top: 20px;
        right: 20px;
    }
    .slider-arrows__left {
        right: 60px;
    }
}
@media (max-width: 1050px) {
    .header__arrows {
        display: none;
    }
    .menu {
        display: none;
    }
    .slider-item__info {
        position: absolute;
        right: 20px;
        bottom: 50px;
        text-align: right;
    }
}