@import "vars";
@import "libs";
@import "fonts";
@import "global";

// === Shore Section ===

.header {
    position: relative;
    height: 100vh;
    min-height: 720px;
    min-width: 1400px;
}

.header__slider{
    &-item{
        height: 100vh;
        background-image: url(../images/header-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
    }
}

.slider-item__info {
    position: absolute;
    right: 80px;
    bottom: 116px;
    text-align: right;
}

.slider-item__info-subtitle {
    margin-bottom: 5px;
}

.slider-item__info-subtext {
    margin-bottom: 8px;
}

.slider-item__info-title {
    font-weight: 800;
    font-size: 80px;
    line-height: 86px;
    margin-bottom: 48px;
}

.slider-item__info-text {
    font-weight: 800;
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 20px;
}

.slider-arrows {
    position: absolute;
    top: 40px;
    right: 80px;
    cursor: pointer;
    z-index: 4;
}

.slider-arrows__left {
    right: 125px;
}

.slider-dotshead {
    position: absolute;
    right: 50px;
    bottom: 36px;
    max-width: 920px;
    width: 100%;
    .slick-current {
        .dots-box {
            border-top: 4px solid $green;  
        }
    }
}

.dots-box {
    width: 200px;
    display: flex;
    justify-content: space-between;
    height: 28px;
    align-items: center;
    border-top: 4px solid $white;
    padding-top: 6px;
    &__number {
        font-weight: 800;
        font-size: 24px;
        line-height: 34px;
    }
    &__name {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        text-transform: capitalize;
    }
}
.header__aside {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    border-right: 1px solid rgba($white, .25);
    text-align: center;
    height: 100vh;
}

.header__title {
    font-weight: 800;
    font-size: 200px;
    line-height: 156px;  
    opacity: 0.07;
    max-width: 467px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}

.menu {
    margin-top: 35px;
    &__list {
        a{
            margin-bottom: 37px;
            span {
                display: block;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 3px;
                text-transform: capitalize;
            }
        }
    }
}

.header__date {
    font-weight: 800;
    font-size: 72px;
    line-height: 64px;
    span {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 1.4px;
        margin-bottom: 25px;
        padding-top: 6px;
        display: block;
    }
}

.header__search {
    padding-top: 15px;
    padding-bottom: 30px;

}

.header__location {
    display: inline-block;
    position: relative;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.05px;
    padding-left: 19px;
    text-transform: capitalize;
    &::before {
        content: "";
        position: absolute;
        width: 11px;
        height: 13px;
        background-image: url('../images/marker.svg');
        top: 0;
        left: 0;
    }
}

.header__map {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}

.header__arrows {
    position: absolute;
    left: 210px;
    bottom: 35px;
    z-index: 3;
}

.del1 {
    animation-delay: 1s;
}
.del2 {
    animation-delay: 1.5s;
}
.del3 {
    animation-delay: 2s;
}
.del4 {
    animation-delay: 0.2s;
}
.del5 {
    animation-delay: 3.5s;
}
.del4_5 {
    animation-delay: 0.6s;
}
.del5_5 {
    animation-delay: 3.6s;
}

.line-animation {
    stroke-dashoffset: 600;
    stroke-dasharray: 600;
    animation: animdash 5s forwards 0.5s;
}

@keyframes animdash {
    to {
        stroke-dashoffset: 0;

    }
}
// === Surf Section ===
.surf {
    background-image: url('../images/serf_bg.png');
    background-position: right 200px;
    background-repeat: no-repeat;
    background-size: auto;
}

.surf__subtitle {
    text-align: right;
    padding-right: 80px;
    margin-top: -86px;
}

.surf-box {
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    &__inner {
       min-height: 750px; 
       background: rgba(#1C2121, .75);
       position: relative;
       top: 0;
       bottom: 0;
       &:hover {
           transition: all .5s;
            background: rgba(#1C2121, .25);
            .surf-box__inner-btn {
                display: block;
            }
       }
    }
}

.surf-box__inner-title {
    font-weight: 800;
    font-size: 40px;
    line-height: 36px;
    padding: 72px 0 0 40px;
    width: 140px;
}
.surf-box__inner-location {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 8px;
    transform: rotate(-90deg);
    position: absolute;
    left: 40px;
    bottom: 80px;
    width: 0;
    height: 0;
    white-space: nowrap;
    span {
        font-weight: 100;
    }
}
.surf-box__inner-btn {
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
}

.surf-slider {
    padding-top: 110px;
    .slider-arrows{
        top: 50px;
        opacity: 0.25;
    }
    .slick-slide:nth-child(4n+1) {
        .surf-box{
            margin-top: 32px;
        }
    }
    .slick-slide:nth-child(4n+3) {
        .surf-box{
            margin-top: 89px;
        }
    }
    .slick-current  {
        .surf-box__inner-btn{
            display: block;
        }
        .surf-box__inner {
            background: rgba(#1C2121, .25);
        }
    }
}

// === Surf Map Section ===
.slider-map {
    max-width: 1200px;
    min-height: 635px;
    background-image: url(../images/world-map-dots.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    .slick-list {
        min-height: 635px;
        overflow: visible;
    }
    .slick-current {
        .slider-dots__content {
            display: block;
            width: 285px;
            padding: 28px 32px 0 31px;
        }
    }
}

.slider-dots__circle {
    width: 24px;
    height: 24px;
    background-color: $green;
    border-radius: 50%;
    box-shadow: 0px 0px 35px rgba($green, 0.84);
}
.slider-dots__content {
    z-index: 1;
    display: none;
    background-color: rgba(#0F1010, .7);
    border-radius: 6px;
    position: absolute;
    bottom: 35px;
    transform: translateX(-45%);
    &::before {
        content: '';
        position: absolute;
        bottom: -35px;
        left: 45%;
        width: 24px; 
        height: 24px; 
        background: $green;
        border-radius: 50% 0 50% 50%;
        transform: rotate(-45deg);
    }
}
.slider-dots__content-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.slider-dots__content-item {
    text-align: center;
    img {
        margin: 0 auto 7px;
    }
}
.slider-dots__content-number{
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}
.slider-dots__content-name{
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
}
.slider-dots__content-title {
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 80px;
        height: 1px;
        background-color: $green;
        bottom: 0;
        left: 0;
    }
}
.slider-dots__content-subtitle {
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
}


.slider-dots {
    position: relative;
}
.slider-dots--1 {
    top: 330px;
    left: -5%;

}
.slider-dots--2 {
    top: 288px;
    left: -9%;
    .slider-dots__circle {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            background-image: url(../images/mini-marker.png);
            width: 14px;
            height: 17px;
            background-size: cover;
            right: -20px;
            top: -20px;
        }
    }
}
.slider-dots--3 {
    top: 318px;
    left: 26%;
}
.slider-dots--4 {
    top: 500px;
    left: -25%;
}
.slider-dots--5 {
    top: 210px;
    left: -48%;
}
.slider-dots--6 {
    top: 555px;
    left: -75.1%;
}
.slider-dots--7 {
    top: 392px;
    left: -68%;
}
.slider-dots--8 {
    top: 500px;
    left: 25%;
}
// === / Surf Section ===

// === Travel Section ===
.holder {
    background-image: url(../images/coctail.png);
    &.sleep {
        background-image: url(../images/big_flower.png);
        background-position: bottom 15% right;
    }
    background-position: bottom right;
    background-repeat: no-repeat;
    position: relative;
    .slider-arrows {
        position: absolute;
        top: 200px;
        right: 80px;
        cursor: pointer;
        opacity: 0.25;
        z-index: 4;
        &__left {
            right: 125px;
        }
    }
}
.holder-slider {
    &__head {
        background-repeat: no-repeat;
        background-position: top left;
        min-height: 900px;
        background-size: contain;
    }
    &__description {
        padding-top: 160px;
        padding-left: 175px;
        min-height: 310px;
        background-repeat: no-repeat;
        background-position: right center;
        //background-size: contain;
        margin-top: -230px;
        &-sleep__img {
            position: absolute;
            right: 0;
            top: 62%;
        }
        .description__head {
            position: relative;
            padding-right: 78px;
            &.description__head-sleep {
                padding-right: 215px;
            }
            img {
                position: absolute;
                right: 0;
                top: 0;
            }
            .holder__star-list {
                position: absolute;
                right: 0;
                top: -6px;
                li {
                    display: inline-block;
                    margin-left: -50px;
                }
                img {
                    position: static;
                }
            }

        }
        img {
            padding-left: 24px;
        }
    }
    &__subtitle {
        text-align: right;
        padding: 80px 80px 0 0;
    }
    &__btn {
        text-align: center;
    }
}
.holder-slider__info {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    &-item {
        min-height: 200px;
        margin-bottom: 66px;
        position: relative;
    }
    &-subtitle {
        position: absolute;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 8px;
        opacity: 0.5;
        transform: rotate(-90deg);
        top: 95px;
        left: -100px;
        width: 200px;
        height: 0;
        text-align: right;
        white-space: nowrap;
    }
    &-title {
        font-weight: 800;
        font-size: 40px;
        line-height: 36px;
        padding-left: 40px;
        position: relative;
        .holder-pricing__span {
            display: inline-block;
            position: absolute;
            right: 0;
            top: 30px;
            font-size: 14px;
            font-weight: 400;
            line-height: 36px;
            opacity: 0.75;
            letter-spacing: 5.25px;
        }
    }
}

.shop {
    background-image: url('../images/shop_bg.png');
    background-repeat: no-repeat;
    background-position: right center;
    // max-height: 700px;
    background-size: contain;  
}
.shop__slider {
    padding-left: 175px;
    .slider-arrows{
        position: absolute;
        top: -100px;
        cursor: pointer;
        opacity: 0.5;
        z-index: 4;
        &__left {
            right: 125px;
        }
    }
}
.shop__slider-inner {
    display: flex;
}
.shop__slider-info {
    padding-top: 150px;
    max-width: 480px;
    margin-right: 40px;
    width: 100%;
}
.description__head-shop {
    max-width: 340px;
    margin-bottom: 47px;
}
.shop__slider-price {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    sup {
        font-size: 18px;
        padding-left: 2px;
    }
    margin-bottom: 60px;
}
.shop__slider-content {
    padding-left: 150px;
    display: flex;
    align-items: flex-end;
}
.shop__extras {
    padding-left: 150px;
}
.shop__extras-inner {
    display: flex;
}
.shop__extras-title {
    margin-bottom: 25px;
    font-weight: 800;
    font-size: 28px;
    line-height: 40px;
}
.shop__extras-box {
    text-align: center;
    margin-right: 57px;
}
.shop__extras-img {
    min-height: 105px;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    justify-content: center;
}
.shop__extras-name {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 8px;
    opacity: 0.5;
    margin-bottom: 10px;
}
.shop__extras-price {
    font-weight: 800;
    font-size: 18px;
    line-height: 40px;
}
.surfboard {
    position: relative;
}
.surfboard-box {
    position: absolute;
}
.surfboard__position--1 {
    right: 35px;
    top: 205px; 
}
.surfboard__position--2 {
    left: 0;
    top: 270px;
}
.surfboard__position--3 {
    left: 53px;
    top: 610px;
    .surfboard-box__content {
        padding-left: 0;
        padding-right: 104px;
        top: -15px;
        left: -400px;
        &::before {
            content: '';
            position: absolute;
            width: 80px;
            height: 1px;
            background-color: rgba($white, .5);
            right: 0;
            top: 50%;
            left: auto;
        }  
    }
}
.surfboard-box__circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $white;
    cursor: pointer;
    position: relative;
    &.active {
        .circle-row {
            transform: translate(-50%, -50%) rotate(0deg);  
        }
    }
}
.circle-row {
    background-color: $green;
    position: absolute;
    width: 12px;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    & + .circle-row {
        transform: translate(-50%, -50%) rotate(90deg); 
    }
}
.surfboard-box__circle.active + .surfboard-box__content {
    display: block;
}
.surfboard-box__content {
    display: none;
    position: absolute;
    width: 365px;
    font-weight: 800;
    font-size: 24px;
    line-height: 24px;
    padding-left: 105px;
    top: -15px;
    left: 40px;
    &::before {
        content: '';
        position: absolute;
        width: 80px;
        height: 1px;
        background-color: rgba($white, .5);
        left: 0;
        top: 50%;
    }
}
.footer {
    text-align: center;
    padding: 285px 0 40px;
    &__copy {
        padding-top: 30px;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 1.05px;
        opacity: 0.5;
    }
    .btn {
        span{
            padding-right: 17px;
            &::after {
                display: none;
            }
        }
    }
}









@import "media";
