/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  color: #414141; }

.section-outer {
  padding-right: 20px;
  padding-left: 20px; }

.section-inner {
  max-width: 1180px;
  margin: 0 auto; }

.description-item__icon {
  margin-bottom: 20px; }

.description-item__title {
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold; }

.description-item__text {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #6c6c6c; }

.btn-main {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 16px 50px;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: .3s ease-in;
  border: none;
  background: linear-gradient(to right, #fe985b, #fe4fa7);
  color: #ffffff; }
  .btn-main:hover {
    transform: scale(1.1); }

.btn-secondary {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 16px 50px;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: .3s ease-in;
  border: solid 1px #979797;
  background: #ffffff;
  color: #414141; }
  .btn-secondary:hover {
    transform: scale(1.1); }

.btn-free {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 16px 50px;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: .3s ease-in;
  border: none;
  background: #ffffff;
  color: #414141; }
  .btn-free:hover {
    transform: scale(1.1); }

.section-header {
  color: #ffffff;
  background: url("../images/header.png") no-repeat 50% 50%;
  background-size: cover;
  position: relative; }
  .section-header .section-inner {
    height: 100vh;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column; }
  .section-header::before {
    content: '';
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(20, 39, 41, 0.54); }
  .section-header-logo {
    padding-top: 29px;
    font-weight: bold;
    font-size: 24px;
    flex-shrink: 1; }
  .section-header-content {
    flex-grow: 1;
    display: flex;
    align-items: center; }
  .section-header-wrapper {
    margin: 0 auto; }
    .section-header-wrapper__title, .section-header-wrapper__subtitle {
      text-align: center; }
    .section-header-wrapper__title {
      font-weight: bold;
      font-size: 55px;
      line-height: 60px;
      margin-bottom: 18px; }
    .section-header-wrapper__subtitle {
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      line-height: 32px;
      width: 80%;
      margin: 0 auto 43px; }
    .section-header-wrapper__form {
      display: flex; }
      .section-header-wrapper__form-input {
        flex: 1; }
        .section-header-wrapper__form-input input {
          font-family: 'Montserrat', sans-serif;
          border: none;
          background-color: rgba(255, 255, 255, 0.25);
          color: #ffffff;
          font-size: 16px;
          margin: 0;
          padding: 16px 20px;
          outline: none;
          border-radius: 4px;
          width: 100%;
          transition: .2s; }
          .section-header-wrapper__form-input input::placeholder {
            color: #ffffff; }
          .section-header-wrapper__form-input input:focus {
            background-color: rgba(255, 255, 255, 0.5); }
      @media (max-width: 575px) {
        .section-header-wrapper__form {
          flex-direction: column; }
          .section-header-wrapper__form-button {
            flex: 1; }
            .section-header-wrapper__form-button .btn-main {
              display: block;
              width: 100%; }
          .section-header-wrapper__form-input {
            margin-bottom: 10px; } }
      @media (min-width: 576px) {
        .section-header-wrapper__form-input {
          margin-right: 40px; } }

.section-promo {
  padding-top: 120px;
  padding-bottom: 90px; }

.section-promo-1 {
  display: flex; }
  .section-promo-1__content, .section-promo-1__video {
    flex-basis: 50%; }
  .section-promo-1__content .title {
    font-size: 34px;
    line-height: 51px;
    font-weight: bold;
    margin-bottom: 57px; }
  .section-promo-1__content .description-item__text {
    margin-bottom: 29px; }
  .section-promo-1__video img {
    width: 100%;
    height: auto; }
  @media (max-width: 767px) {
    .section-promo-1 {
      flex-direction: column; }
      .section-promo-1__video {
        order: -1;
        margin-bottom: 20px; } }
  @media (min-width: 768px) {
    .section-promo-1__content {
      padding-right: 90px; } }

.section-promo-2 {
  display: flex;
  padding-top: 86px;
  margin-top: 112px;
  border-top: solid 1px #e2e2e2;
  text-align: center; }
  @media (max-width: 575px) {
    .section-promo-2 {
      flex-direction: column; }
      .section-promo-2 .description-item + .description-item {
        margin-top: 37px; } }
  @media (min-width: 576px) {
    .section-promo-2 .description-item + .description-item {
      margin-left: 37px; } }

.section-founder {
  background-color: #f6fafd;
  padding-top: 34px; }
  .section-founder .section-inner {
    display: flex; }
  .section-founder__img {
    align-self: flex-end;
    margin-right: 50px; }
  .section-founder__content {
    align-self: center; }
    .section-founder__content-text {
      font-family: 'Montserrat', sans-serif;
      font-size: 24px;
      line-height: 40px; }
    .section-founder__content-name {
      margin-top: 20px;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px; }
    .section-founder__content-post {
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      line-height: 24px; }
  @media (max-width: 767px) {
    .section-founder .section-inner {
      flex-direction: column; }
    .section-founder__content {
      order: -1;
      margin-bottom: 30px; } }
  @media (min-width: 992px) {
    .section-founder__img {
      margin-left: 50px; } }

.section-plans {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center; }
  .section-plans__title, .section-plans__subtitle {
    padding-bottom: 17px; }
  .section-plans__title {
    font-size: 36px;
    font-weight: bold;
    line-height: 51px; }
  .section-plans__subtitle {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 75px; }
  .section-plans__list {
    display: flex;
    justify-content: center; }
    .section-plans__list-item {
      flex-basis: 370px;
      padding: 52px 45px 67px 45px; }
      .section-plans__list-item-title {
        font-size: 14px;
        font-weight: bold;
        line-height: 17px;
        text-transform: uppercase;
        margin-bottom: 27px; }
      .section-plans__list-item-price {
        margin-bottom: 27px; }
        .section-plans__list-item-price .prefix {
          font-size: 72px;
          line-height: 86px;
          font-weight: bold;
          color: #fe4fa7; }
      .section-plans__list-item-description {
        margin-bottom: 45px; }
      .section-plans__list-item.active {
        background-color: #f6fafd; }
    @media (max-width: 575px) {
      .section-plans__list {
        flex-direction: column; } }
  @media (min-width: 576px) {
    .section-plans__subtitle {
      width: 50%;
      margin-left: auto;
      margin-right: auto; } }

.section-free {
  text-align: center;
  color: #ffffff;
  background: linear-gradient(to right, #fe985b, #fe4fa7);
  padding-top: 120px;
  padding-bottom: 120px; }
  .section-free__title {
    font-size: 55px;
    font-weight: bold;
    line-height: 60px;
    margin-bottom: 28px; }
  .section-free__description {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin: 0 auto 42px; }
  @media (min-width: 992px) {
    .section-free__description {
      width: 50%; } }

.section-footer {
  color: #464646;
  padding-top: 85px;
  padding-bottom: 95px; }
  .section-footer__logo {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    margin-bottom: 30px; }
  .section-footer__nav {
    display: flex;
    justify-content: center;
    margin: 0 0 75px;
    padding: 0;
    list-style: none; }
    .section-footer__nav li a {
      font-size: 14px;
      font-weight: bold;
      line-height: 20px;
      text-transform: uppercase;
      transition: .2s; }
      .section-footer__nav li a.active, .section-footer__nav li a:hover {
        color: #fe50a6; }
    @media (max-width: 575px) {
      .section-footer__nav {
        flex-direction: column;
        text-align: center; }
        .section-footer__nav li + li {
          margin-top: 7px; } }
    @media (min-width: 576px) {
      .section-footer__nav li + li {
        margin-left: 60px; } }
  .section-footer__copyright_and_links {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
    line-height: 18px; }
    @media (max-width: 575px) {
      .section-footer__copyright_and_links {
        flex-direction: column;
        text-align: center; } }
    @media (min-width: 992px) {
      .section-footer__copyright_and_links {
        justify-content: space-between;
        width: 57%;
        margin: 0 auto; } }

.helper-links {
  margin: 0;
  padding: 0;
  list-style: none; }
  .helper-links li {
    margin-left: 29px; }
    .helper-links li a.active {
      color: #fe50a6; }
  @media (max-width: 575px) {
    .helper-links {
      display: inline-flex;
      margin-top: 10px; } }
  @media (min-width: 576px) {
    .helper-links {
      display: flex; } }

a {
  text-decoration: none;
  color: #464646; }
